nav{
    position: relative;
    z-index: 99;
    width: 70%;
    height: 92px;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-left: 15%;
    


    a{

        
        font-size: x-large;
        text-decoration: none;
        color: darkblue;
    }




        .sMedLinks1{
            width: 50px;
            height: 50px;
            background-image: url(/img/insta.jpg);
        background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            
    
        }
    
        .sMedLinks2{
            width: 50px;
            height: 50px;
            background-image: url(/img/fbIcon.png);
        background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            
    
        }

    


   

};